p img{
	vertical-align: middle;
}

.text-center {
	text-align: center;
}

#randomizer {
	max-width: 700px;
	margin: 0 auto;
	font-family: Century Schoolbook;
}

#randomizer h1 {
	margin: 20px 0;
}

#randomizer button {
	border-radius: 15px;
	font-size: 12px;
	background-color: #F0F0F0;
	color: black;
	padding: 7px;
	margin: 3px;
}

#randomizer .form-group {
	margin: 10px;
	font-weight: bold;
}

#randomizer .form-group select {
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	background-color: #F0F0F0;
	padding: 2px 10px;
	width: 150px;
}

#randomizer form  ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
#randomizer form ul li {
	flex-basis: 20%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#randomizer  form ul img {
	vertical-align: middle;
}

#randomizer  form ul label span {
	text-decoration: line-through;
	text-decoration-color: red;
	color: #C0C0C0;
}

#randomizer form ul label input {
	display: none;
}

#randomizer form ul label input:checked ~ span {
	text-decoration: none;
	color: black;
}
	
#randomizer form ul label:hover {
	cursor: pointer;
}
#randomizer form ul label:hover ~ span {
	color: maroon;
}

#results {
	padding: 0;
	list-style: none;
	font-size: 18px;
	font-weight: bold;
	color: maroon;
}

#log {
	color: red;
	text-align: center;
	font-size: 20px;
}

@media (max-width: 640px) {
	#randomizer .form-group span:first-child {
		display: block;
	}
}